# Importing necessary libraries

In [78]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Loading data

In [79]:
df = pd.read_csv('datasets/train.csv')

In [80]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [81]:
df.columns

Index(['id', 'brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'price'],
      dtype='object')

In [82]:
df.shape

(188533, 13)

In [83]:
# Regular expression to extract hp, litre, and cylinder
import re
def extract_engine_data(engine):
    # Pattern to match horsepower, litres, and cylinders
    hp_pattern = r'(\d+\.?\d*)HP'
    litre_pattern = r'(\d+\.?\d*)L'
    cylinder_pattern = r'(\d+)\sCylinder'

    # Extracting the values
    hp = re.search(hp_pattern, engine)
    litre = re.search(litre_pattern, engine)
    cylinder = re.search(cylinder_pattern, engine)

    # Convert extracted values to float/int or None
    hp_value = float(hp.group(1)) if hp else None
    litre_value = float(litre.group(1)) if litre else None
    cylinder_value = int(cylinder.group(1)) if cylinder else None

    return pd.Series([hp_value, litre_value, cylinder_value])

# Apply the function and create new columns
df[['hp', 'litre', 'cyclinder']] = df['engine'].apply(extract_engine_data)

In [84]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,hp,litre,cyclinder
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200,172.0,1.6,4.0
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999,252.0,3.9,8.0
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900,320.0,5.3,8.0
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000,420.0,5.0,8.0
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500,208.0,2.0,4.0

In [85]:
df.drop(columns=['id','engine'],inplace=True)

## Pre-Processing

In [86]:
### Transmission------------------------->

In [87]:
df.head(4)

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,hp,litre,cyclinder
0,MINI,Cooper S Base,2007,213000,Gasoline,A/T,Yellow,Gray,None reported,Yes,4200,172.0,1.6,4.0
1,Lincoln,LS V8,2002,143250,Gasoline,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999,252.0,3.9,8.0
2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,A/T,Blue,Gray,None reported,Yes,13900,320.0,5.3,8.0
3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000,420.0,5.0,8.0

In [88]:
print(df['litre'].unique())
print(df['cyclinder'].unique())

[1.6  3.9  5.3  5.   2.   3.   2.7  3.6   nan 6.2  4.4  4.   4.6  5.2
 3.7  5.7  6.7  3.5  2.8  5.5  5.4  6.8  3.8  2.5  3.4  2.4  3.3  2.3
 3.2  4.7  1.8  6.   4.8  5.6  4.3  4.2  1.5  6.4  8.3  6.3  2.1  1.4
 4.5  1.3  2.9  1.7  6.6  2.2  6.1  7.3  6.5  0.65 6.75 7.   1.   5.9
 8.1  5.8  1.2  8.4  8.   7.4 ]
[ 4.  8.  6. nan 10. 12.  5.  3.]

In [89]:
for i in sorted(df['litre'].unique()):
    transmission = df[df['litre'] == i][['litre','cyclinder']]
    print(transmission.head())

       litre  cyclinder
1686    0.65        NaN
7262    0.65        NaN
7766    0.65        NaN
11441   0.65        NaN
13393   0.65        NaN
      litre  cyclinder
3286    1.0        3.0
       litre  cyclinder
9091     1.2        NaN
11738    1.2        NaN
30055    1.2        NaN
33311    1.2        NaN
35583    1.2        NaN
      litre  cyclinder
548     1.3        NaN
1419    1.3        NaN
3758    1.3        NaN
3774    1.3        NaN
5163    1.3        NaN
      litre  cyclinder
467     1.4        4.0
659     1.4        4.0
1229    1.4        4.0
1309    1.4        4.0
1794    1.4        4.0
      litre  cyclinder
360     1.5        NaN
820     1.5        NaN
1605    1.5        3.0
1738    1.5        4.0
2225    1.5        4.0
      litre  cyclinder
0       1.6        4.0
90      1.6        4.0
397     1.6        4.0
728     1.6        4.0
1184    1.6        4.0
       litre  cyclinder
752      1.7        4.0
7053     1.7        4.0
7701     1.7        4.0
15148    1.7        4.0
20590    1.7        4.0
     litre  cyclinder
108    1.8        4.0
339    1.8        4.0
386    1.8        4.0
406    1.8        4.0
575    1.8        4.0
    litre  cyclinder
4     2.0        4.0
5     2.0        4.0
24    2.0        4.0
29    2.0        4.0
30    2.0        4.0
       litre  cyclinder
462      2.1        4.0
3664     2.1        4.0
8118     2.1        4.0
10550    2.1        4.0
15951    2.1        4.0
      litre  cyclinder
913     2.2        4.0
1753    2.2        4.0
2270    2.2        4.0
4176    2.2        4.0
7440    2.2        4.0
     litre  cyclinder
85     2.3        4.0
89     2.3        4.0
143    2.3        4.0
147    2.3        NaN
206    2.3        4.0
     litre  cyclinder
74     2.4        4.0
81     2.4        4.0
111    2.4        NaN
136    2.4        4.0
264    2.4        4.0
     litre  cyclinder
68     2.5        4.0
132    2.5        4.0
193    2.5        6.0
216    2.5        4.0
221    2.5        4.0
     litre  cyclinder
8      2.7        NaN
115    2.7        6.0
295    2.7        6.0
362    2.7        6.0
395    2.7        6.0
      litre  cyclinder
34      2.8        6.0
348     2.8        6.0
1097    2.8        6.0
3224    2.8        6.0
5078    2.8        6.0
      litre  cyclinder
560     2.9        6.0
1046    2.9        6.0
1451    2.9        6.0
2172    2.9        6.0
2173    2.9        6.0
    litre  cyclinder
6     3.0        6.0
9     3.0        6.0
13    3.0        6.0
17    3.0        6.0
23    3.0        6.0
     litre  cyclinder
104    3.2        6.0
128    3.2        6.0
333    3.2        6.0
491    3.2        6.0
647    3.2        6.0
      litre  cyclinder
76      3.3        6.0
141     3.3        6.0
823     3.3        NaN
992     3.3        6.0
1101    3.3        6.0
     litre  cyclinder
72     3.4        NaN
146    3.4        6.0
413    3.4        6.0
459    3.4        NaN
566    3.4        6.0
    litre  cyclinder
33    3.5        6.0
50    3.5        6.0
69    3.5        6.0
71    3.5        6.0
84    3.5        NaN
     litre  cyclinder
10     3.6        6.0
39     3.6        NaN
55     3.6        6.0
61     3.6        6.0
121    3.6        6.0
     litre  cyclinder
22     3.7        6.0
120    3.7        6.0
124    3.7        6.0
135    3.7        6.0
183    3.7        6.0
     litre  cyclinder
53     3.8        6.0
70     3.8        NaN
75     3.8        6.0
142    3.8        6.0
162    3.8        6.0
      litre  cyclinder
1       3.9        8.0
57      3.9        8.0
1466    3.9        8.0
2086    3.9        6.0
3424    3.9        8.0
      litre  cyclinder
214     4.2        8.0
616     4.2        8.0
1685    4.2        8.0
1706    4.2        8.0
1813    4.2        8.0
      litre  cyclinder
182     4.3        6.0
1059    4.3        6.0
1171    4.3        6.0
1704    4.3        8.0
2028    4.3        8.0
     litre  cyclinder
18     4.6        8.0
92     4.6        8.0
171    4.6        8.0
222    4.6        8.0
246    4.6        8.0
     litre  cyclinder
105    4.7        8.0
118    4.7        8.0
252    4.7        8.0
267    4.7        8.0
288    4.7        8.0
     litre  cyclinder
165    4.8        8.0
191    4.8        8.0
224    4.8        8.0
241    4.8        8.0
486    4.8        8.0
    litre  cyclinder
3     5.0        8.0
21    5.0        8.0
27    5.0        8.0
59    5.0        8.0
77    5.0        8.0
     litre  cyclinder
2      5.3        8.0
7      5.3        8.0
63     5.3        8.0
99     5.3        8.0
102    5.3        8.0
Empty DataFrame
Columns: [litre, cyclinder]
Index: []
    litre  cyclinder
15    4.0        8.0
19    4.0        8.0
28    4.0        6.0
43    4.0        NaN
67    4.0        8.0
     litre  cyclinder
14     4.4        8.0
54     4.4        8.0
58     4.4        8.0
64     4.4        8.0
110    4.4        8.0
       litre  cyclinder
531      4.5        6.0
9814     4.5        6.0
21877    4.5        8.0
29163    4.5        6.0
42366    4.5        8.0
     litre  cyclinder
20     5.2        NaN
292    5.2       10.0
499    5.2        8.0
507    5.2        8.0
676    5.2        8.0
     litre  cyclinder
46     5.4        8.0
185    5.4        8.0
370    5.4        8.0
405    5.4        8.0
975    5.4        8.0
     litre  cyclinder
37     5.5        8.0
101    5.5        8.0
294    5.5        8.0
305    5.5        8.0
354    5.5        8.0
      litre  cyclinder
177     5.6        8.0
233     5.6        8.0
403     5.6        8.0
748     5.6        8.0
1065    5.6        NaN
     litre  cyclinder
25     5.7        8.0
45     5.7        NaN
96     5.7        8.0
127    5.7        8.0
156    5.7        8.0
       litre  cyclinder
8327     5.8        8.0
33493    5.8        8.0
34865    5.8        8.0
36922    5.8        NaN
42619    5.8        NaN
       litre  cyclinder
4318     5.9        6.0
6325     5.9        8.0
7072     5.9       12.0
8289     5.9        6.0
10453    5.9        8.0
     litre  cyclinder
133    6.0        NaN
148    6.0        8.0
175    6.0       12.0
199    6.0       12.0
777    6.0        8.0
      litre  cyclinder
1047    6.1        8.0
1657    6.1        8.0
6926    6.1        8.0
7075    6.1        8.0
7669    6.1        8.0
    litre  cyclinder
12    6.2        8.0
16    6.2        8.0
42    6.2        8.0
62    6.2        8.0
65    6.2        8.0
      litre  cyclinder
433     6.3        NaN
942     6.3        8.0
2312    6.3        8.0
2465    6.3        8.0
5176    6.3        NaN
     litre  cyclinder
361    6.4        8.0
540    6.4        8.0
608    6.4        8.0
614    6.4        NaN
701    6.4        8.0
      litre  cyclinder
1554    6.5       12.0
1559    6.5        NaN
1751    6.5       12.0
1769    6.5       12.0
1784    6.5       12.0
      litre  cyclinder
759     6.6        8.0
909     6.6       12.0
1133    6.6        8.0
1334    6.6       12.0
1588    6.6        8.0
     litre  cyclinder
26     6.7        8.0
41     6.7        8.0
87     6.7        6.0
353    6.7        6.0
358    6.7        8.0
       litre  cyclinder
2242    6.75        8.0
7670    6.75        8.0
10469   6.75        8.0
14484   6.75        8.0
30422   6.75        8.0
      litre  cyclinder
48      6.8       10.0
113     6.8       10.0
1597    6.8       10.0
3577    6.8        NaN
4018    6.8       10.0
      litre  cyclinder
2272    7.0        8.0
2520    7.0        8.0
3602    7.0        8.0
4810    7.0        8.0
6057    7.0        8.0
      litre  cyclinder
1163    7.3        8.0
2161    7.3        8.0
2389    7.3        8.0
2695    7.3        8.0
2787    7.3        8.0
       litre  cyclinder
38897    7.4        8.0
54814    7.4        8.0
62021    7.4        8.0
71278    7.4        8.0
85464    7.4        8.0
       litre  cyclinder
11667    8.0        NaN
26407    8.0        NaN
39164    8.0        NaN
47481    8.0        NaN
61508    8.0        NaN
       litre  cyclinder
6706     8.1        8.0
7535     8.1        8.0
9242     8.1        8.0
16231    8.1        8.0
26364    8.1        8.0
      litre  cyclinder
365     8.3       10.0
1679    8.3       10.0
1804    8.3       10.0
3212    8.3       10.0
5904    8.3       10.0
       litre  cyclinder
10061    8.4       10.0
26001    8.4       10.0
26942    8.4       10.0
39761    8.4       10.0
54416    8.4       10.0

In [90]:
# 0.65 - 1.5 --> 3
# 1.5 - 2.5 --> 4
# 2.7 - 3.9 -- > 6
# 4.2 - 7.4 -- > 8
# 8.0 - 8.4 -- > 10

In [91]:
for i in sorted(df['cyclinder'].unique()):
    transmission = df[df['cyclinder'] == i][['litre','cyclinder']]
    print([transmission['litre'].min() , transmission['litre'].max()] , i)

[1.4, 2.7] 4.0
[2.5, 6.7] 6.0
[3.8, 8.1] 8.0
[nan, nan] nan
[1.0, 1.6] 3.0
[2.5, 3.7] 5.0
[5.0, 8.4] 10.0
[5.2, 6.7] 12.0

In [92]:
## we will impute this value in this perticular range ok!!

In [93]:
## we have to also try nan removal approach

In [94]:
# ----------------------------------------------------------------------------------------------------------------------------

In [95]:
#### ext_col	int_col------------------>

In [96]:
df['ext_col'].unique()

array(['Yellow', 'Silver', 'Blue', 'Black', 'White',
       'Snowflake White Pearl Metallic', 'Gray', 'Green',
       'Santorini Black Metallic', 'Purple', 'Ebony Twilight Metallic',
       'Red', 'Magnetite Black Metallic', 'Diamond Black', 'Vega Blue',
       'Beige', 'Gold', 'Platinum White Pearl', 'Metallic',
       'White Frost Tri-Coat', 'Firecracker Red Clearcoat',
       'Phytonic Blue Metallic', 'Blu', 'Orange', 'Brown',
       'Brilliant Silver Metallic', 'Black Raven', 'Black Clearcoat',
       'Firenze Red', 'Agate Black Metallic', 'Glacial White Pearl',
       'Majestic Plum Metallic', 'designo Diamond White Metallic',
       'Oxford White', 'Black Sapphire Metallic', 'Mythos Black',
       'Granite Crystal Clearcoat Metallic', 'White Diamond Tri-Coat',
       'Magnetite Gray Metallic', 'Carpathian Grey Premium Metallic',
       'designo Diamond White Bright',
       'Phantom Black Pearl Effect / Black Roof', 'Nebula Gray Pearl',
       'Deep Crystal Blue Mica', 'Flame Red Clearcoat',
       'Lunar Blue Metallic', 'Bright White Clearcoat',
       'Rapid Red Metallic Tinted Clearcoat', 'Caviar',
       'Dark Ash Metallic', 'Velvet Red Pearlcoat', 'Silver Zynith',
       'Super Black', 'Antimatter Blue Metallic',
       'Dark Moon Blue Metallic', 'Summit White', 'Ebony Black', '–',
       'Black Cherry', 'Delmonico Red Pearlcoat',
       'Platinum Quartz Metallic', 'Ultra White', 'Python Green',
       'Garnet Red Metallic', 'Snow White Pearl', 'Cajun Red Tintcoat',
       'Midnight Black Metallic', 'Diamond White',
       'Mythos Black Metallic', 'Soul Red Crystal Metallic',
       'Atomic Silver', 'Obsidian', 'Magnetic Metallic',
       'Twilight Blue Metallic', 'Star White', 'Stormy Sea',
       'Tango Red Metallic', 'Hyper Red', 'Portofino Gray',
       'MANUFAKTUR Diamond White Bright', 'Snowflake White Pearl',
       'Patriot Blue Pearlcoat', 'Tungsten Metallic',
       'Chronos Gray Metallic', 'Silver Ice Metallic',
       'Daytona Gray Pearl Effect', 'Ruby Red Metallic Tinted Clearcoat',
       'Alpine White', 'Eminent White Pearl', 'Manhattan Noir Metallic',
       'Quicksilver Metallic', 'Stellar Black Metallic',
       'Sparkling Silver', 'Blueprint', 'Crystal Black Silica',
       'Black Noir Pearl', 'Arancio Borealis', 'Typhoon Gray',
       'Ibis White', 'Graphite Grey', 'Mineral White', 'Midnight Black',
       'Northsky Blue Metallic', 'Alta White', 'Brilliant Black',
       'Jet Black Mica', 'Daytona Gray Pearl Effect w/ Black Roof',
       'Redline Red', 'Glacier Silver Metallic', 'Magnetic Black',
       'Chronos Gray', 'Red Quartz Tintcoat', 'Nero Noctis',
       'Firenze Red Metallic', 'Iridescent Pearl Tricoat',
       'Twilight Black', 'Radiant Red Metallic II', 'Blue Metallic',
       'Glacier White', 'Daytona Gray', 'Rosso Mars Metallic',
       'Wolf Gray', 'Santorin Black', 'Designo Magno Matte',
       'Emerald Green Metallic', 'Ruby Flare Pearl',
       'Lunar Silver Metallic', 'Eiger Grey Metallic',
       'Quartzite Grey Metallic', 'Barcelona Red', 'Beluga Black',
       'Matador Red Metallic', 'Billet Silver Metallic Clearcoat',
       'Anodized Blue Metallic', 'Black Forest Green',
       'Ice Silver Metallic', 'Sandstone Metallic',
       'Magnetic Gray Clearcoat', 'Crystal Black Pearl',
       'Pacific Blue Metallic', 'Stone Gray Metallic',
       'Iconic Silver Metallic', 'Dark Sapphire', 'Onyx',
       'Aventurine Green Metallic', 'China Blue', 'Majestic Black Pearl',
       'Midnight Silver Metallic', 'Sting Gray Clearcoat',
       'Glacier Blue Metallic', 'BLACK', 'Chalk', 'Dark Matter Metallic',
       'Infrared Tintcoat', 'Iridium Metallic', 'Fuji White',
       'Alfa White', 'Kodiak Brown Metallic', 'Aurora Black',
       'Onyx Black', 'Nightfall Gray Metallic', 'Obsidian Black Metallic',
       'Phantom Black', 'Remington Red Metallic', 'designo Diamond White',
       'Lizard Green', 'Rosso Corsa', 'Shadow Gray Metallic',
       'Florett Silver', 'Quartz White', 'DB Black Clearcoat',
       'Yulong White', 'Eiger Grey', 'Custom Color',
       'Electric Blue Metallic', 'Tempest', 'Lunar Rock',
       'Mosaic Black Metallic', 'Gecko Pearlcoat', 'White Clearcoat',
       'BLU ELEOS', 'Granite Crystal Metallic Clearcoat',
       'Rich Garnet Metallic', 'Graphite Grey Metallic',
       'Bianco Icarus Metallic', 'Satin Steel Metallic', 'BLUE',
       'Moonlight Cloud', 'Matador Red Mica', 'Emin White',
       'Machine Gray Metallic', 'White Platinum Tri-Coat Metallic',
       'Cobra Beige Metallic', 'Cayenne Red Tintcoat',
       'Shoreline Blue Pearl', 'Vik Black', 'Shimmering Silver',
       'Bianco Monocerus', 'Carbonized Gray Metallic',
       'Carrara White Metallic', 'Dark Slate Metallic',
       'Dark Graphite Metallic', 'Sonic Silver Metallic',
       'White Knuckle Clearcoat', 'Titanium Silver',
       'Anthracite Blue Metallic', 'Black Obsidian',
       'Polymetal Gray Metallic', 'Orca Black Metallic',
       'Wind Chill Pearl', 'Blue Reflex Mica', 'Dark Moss',
       'Selenite Grey Metallic', 'Kemora Gray Metallic', 'Nightfall Mica',
       'Liquid Platinum', 'Mountain Air Metallic', 'Kinetic Blue',
       'Santorini Black', 'Carbon Black Metallic',
       'Gentian Blue Metallic', 'Red Multi', 'Super White', 'Pearl White',
       'Typhoon Gray Metallic', 'Navarra Blue Metallic', 'Bianco Isis',
       'Navarra Blue', 'Volcano Grey Metallic', 'Arctic Gray Metallic',
       'Pure White', 'Baltic Gray', 'Glacier White Metallic',
       'Frozen Dark Silver Metallic', 'Magnetic Gray Metallic',
       'Gun Metallic', 'Siren Red Tintcoat', 'Deep Blue Metallic',
       'Cirrus Silver Metallic', 'Deep Black Pearl Effect', 'Granite',
       'Sunset Drift Chromaflair', 'Oryx White Prl', 'Dark Gray Metallic',
       'Bayside Blue', 'Pink', 'Ice', 'Mango Tango Pearlcoat',
       'Burnished Bronze Metallic', 'Verde', 'Arctic White',
       'Portofino Blue Metallic', 'Dazzling White', 'Nero Daytona',
       'Nautical Blue Pearl', 'Imperial Blue Metallic',
       'Vulcano Black Metallic', 'Silver Radiance',
       'Hellayella Clearcoat', 'Jungle Green', 'C / C', 'Yulong',
       'Pristine White', 'Silky Silver', 'Caspian Blue', 'Sangria Red',
       'Donington Grey Metallic', 'Apex Blue', 'Rift Metallic',
       'Fountain Blue', 'Balloon White', 'Matte White', 'Frozen White',
       'Pacific Blue', 'Rosso', 'Ironman Silver', 'Octane Red Pearlcoat',
       'Selenite Gray Metallic', 'Hydro Blue Pearlcoat',
       'Ingot Silver Metallic', 'Quartz Blue Pearl',
       'Lunare White Metallic', 'Ember Pearlcoat',
       'Brands Hatch Gray Metallic', 'Navarre Blue',
       'Midnight Blue Metallic', 'Shadow Black', 'Go Mango!',
       'Maximum Steel Metallic', 'Silver Flare Metallic',
       'Billet Clearcoat Metallic', 'Hampton Gray', 'Red Obsession',
       'Silver Mist', 'Scarlet Ember', 'Crimson Red Tintcoat', 'Tan',
       'Isle of Man Green Metallic', 'Crystal Black', 'Glacier',
       'Iridium Silver Metallic', 'Bronze Dune Metallic', 'Maroon',
       'Platinum Gray Metallic', 'Passion Red', 'Silician Yellow',
       'Volcanic Orange', 'Crystal White Pearl', 'Reflex Silver',
       'Blue Caelum', 'Thunder Gray', 'Ultra Black', 'Indus Silver',
       'Horizon Blue', 'Grigio Nimbus', 'Carpathian Grey',
       'Ametrin Metallic', 'Jupiter Red', 'GT SILVER'], dtype=object)

In [97]:
df['int_col'].unique()

array(['Gray', 'Beige', 'Black', '–', 'Blue', 'White', 'Red', 'Brown',
       'Dark Galvanized', 'Parchment.', 'Boulder', 'Orange',
       'Medium Earth Gray', 'Ebony', 'Canberra Beige', 'Jet Black',
       'Silver', 'Light Platinum / Jet Black', 'Macchiato/Magmagrey',
       'Gold', 'Cloud', 'Rioja Red', 'Global Black', 'Green',
       'Medium Stone', 'Navy Pier', 'Dark Ash', 'BLACK', 'Portland',
       'Sandstone', 'Canberra Beige/Black', 'Diesel Gray / Black',
       'Sarder Brown', 'Black Onyx', 'White / Brown', 'Black/Gun Metal',
       'Slate', 'Satin Black', 'Macchiato Beige/Black', 'Charcoal',
       'Black / Express Red', 'Cappuccino', 'Aragon Brown', 'Parchment',
       'Oyster W/Contrast', 'Adrenaline Red', 'Ebony.', 'Shara Beige',
       'Graystone', 'Pearl Beige', 'Nero Ade', 'Graphite',
       'Tan/Ebony/Ebony', 'Charcoal Black', 'Medium Ash Gray',
       'Ebony Black', 'Light Titanium', 'Sakhir Orange', 'Tan',
       'Rock Gray', 'Brandy', 'Carbon Black', 'Amber',
       'Black w/Red Stitching', 'Hotspur', 'Chateau', 'Ice',
       'Deep Garnet', 'Blk', 'Grace White', 'Oyster/Black', 'Mesa',
       'Espresso', 'Black/Graphite', 'Ebony / Ebony Accents', 'Tan/Ebony',
       'Ceramic', 'Medium Dark Slate', 'Graphite w/Gun Metal',
       'Obsidian Black', 'Cocoa / Dune', 'Roast', 'Yellow',
       'Hotspur Hide', 'Gray w/Blue Bolsters', 'Chestnut', 'Saiga Beige',
       'ORANGE', 'Charles Blue', 'Walnut', 'Ivory / Ebony', 'Caramel',
       'Pimento Red w/Ebony', 'Saddle Brown', 'Dark Gray',
       'Silk Beige/Espresso Brown', 'Black / Brown',
       'Ebony/Light Oyster Stitch', 'Ebony / Pimento',
       'Mistral Gray / Raven', 'Giallo Taurus / Nero Ade', 'Tension',
       'Medium Pewter', 'Black / Saddle', 'Camel Leather',
       'Black/Saddle Brown', 'Macchiato', 'Anthracite', 'Mocha',
       'Whisper Beige', 'Titan Black / Quarzit', 'Sahara Tan', 'Porpoise',
       'Black/Red', 'Titan Black', 'AMG Black', 'Deep Cypress',
       'Light Slate', 'Red / Black', 'Beluga Hide', 'Tupelo', 'Gideon',
       'Rhapsody Blue', 'Medium Light Camel', 'Almond Beige',
       'Black / Gray', 'Nero', 'Agave Green', 'Deep Chestnut',
       'Dark Auburn', 'Shale', 'Silk Beige/Black', 'BEIGE', 'Magma Red',
       'Linen', 'Black / Stone Grey', 'Sand Beige', 'Red/Black',
       'Bianco Polar', 'Light Gray', 'Platinum', 'Sport', 'Ash',
       'Black / Graphite', 'Nougat Brown', 'Camel', 'Mountain Brown',
       'Pimento / Ebony', 'Classic Red', 'Sakhir Orange/Black',
       'Cobalt Blue', 'Very Light Cashmere', 'Kyalami Orange', 'Orchid',
       'Beluga', 'WHITE'], dtype=object)

In [98]:
len(df['int_col'].unique())

156

In [99]:
len(df['ext_col'].unique())

319

In [100]:
df.drop(columns=['int_col'],inplace=True) ## removing int_col due to partial dependency

In [101]:
df.head()

,brand,model,model_year,milage,fuel_type,transmission,ext_col,accident,clean_title,price,hp,litre,cyclinder
0,MINI,Cooper S Base,2007,213000,Gasoline,A/T,Yellow,None reported,Yes,4200,172.0,1.6,4.0
1,Lincoln,LS V8,2002,143250,Gasoline,A/T,Silver,At least 1 accident or damage reported,Yes,4999,252.0,3.9,8.0
2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,A/T,Blue,None reported,Yes,13900,320.0,5.3,8.0
3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,Transmission w/Dual Shift Mode,Black,None reported,Yes,45000,420.0,5.0,8.0
4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,7-Speed A/T,Black,None reported,Yes,97500,208.0,2.0,4.0

In [102]:
lc

         price ext_col
521      64600       –
618     173995       –
730     239995       –
1212     56900       –
1265     18000       –
...        ...     ...
187828   25884       –
187930   48889       –
188038   23599       –
188072   65998       –
188476  267950       –

[366 rows x 2 columns]

In [103]:
lc.head()

       price ext_col
521    64600       –
618   173995       –
730   239995       –
1212   56900       –
1265   18000       –

In [104]:
df['transmission'].unique()

array(['A/T', 'Transmission w/Dual Shift Mode', '7-Speed A/T',
       '8-Speed A/T', '10-Speed Automatic', '1-Speed A/T', '6-Speed A/T',
       '10-Speed A/T', '9-Speed A/T', '8-Speed Automatic',
       '9-Speed Automatic', '5-Speed A/T', 'Automatic',
       '7-Speed Automatic with Auto-Shift', 'CVT Transmission',
       '5-Speed M/T', 'M/T', '6-Speed M/T', '6-Speed Automatic',
       '4-Speed Automatic', '7-Speed M/T', '2-Speed A/T',
       '1-Speed Automatic', 'Automatic CVT', '4-Speed A/T',
       '6-Speed Manual', 'Transmission Overdrive Switch',
       '8-Speed Automatic with Auto-Shift', '7-Speed Manual',
       '7-Speed Automatic', '9-Speed Automatic with Auto-Shift',
       '6-Speed Automatic with Auto-Shift',
       '6-Speed Electronically Controlled Automatic with O', 'F', 'CVT-F',
       '8-Speed Manual', 'Manual', '–', '2', '6 Speed At/Mt',
       '5-Speed Automatic', '2-Speed Automatic', '8-SPEED A/T', '7-Speed',
       'Variable', 'Single-Speed Fixed Gear', '8-SPEED AT',
       '10-Speed Automatic with Overdrive', '7-Speed DCT Automatic',
       'SCHEDULED FOR OR IN PRODUCTION', '6-Speed', '6 Speed Mt'],
      dtype=object)

In [105]:
at_trans = df[df['transmission'] == 'A/T'][['transmission','price']]

In [106]:
at_trans.head()

  transmission  price
0          A/T   4200
1          A/T   4999
2          A/T  13900
5          A/T  29950
7          A/T  12500